# Introdução ao Pandas


A biblioteca Pandas é um módulo open source desenvolvido para Python que fornece implementações de estruturas de dados e funções para manipulação de conjuntos de dados em formato de tabela (arquivos do excel, bancos de dados, arquivos csv, etc.). Trata-se da biblioteca para manipulação e análise de dados mais utilizada dentro do ramo de ciência de dados.

# Importando a biblioteca Pandas

Antes de mais nada, é necessário importar a biblioteca Pandas para poder interagir com suas funções e variáveis. Para isso, execute a célula abaixo:

# DataFrame e Series

Assim como o numpy introduziu novas variáveis como o array e o polinômio, o Pandas também utiliza dois novos tipos de variáveis para poder interagir com dados em formato de tabela.

## Inicializando um DataFrame

Um dataframe é uma representação computacional de uma tabela e é a estrutura de dados mais utilizada no Pandas. Cada uma de suas entradas pode ser entendida como uma linha com um ou vários atributos (colunas):

![image.png](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

Imagem retirada da [documentação](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) do Pandas

### A partir de uma lista de listas

Uma forma comum de representar tabelas em python é utilizando uma lista de listas com as seguintes restrições:
1. Todas as sublistas devem ter o mesmo número de itens;
2. Todas as sublistas devem ter os mesmos tipos de dados, na mesma ordem; e
3. O significado de cada "coluna" deve ser igual entre as sublistas.

A partir dessa representação de uma lista de listas, é possível criar um DataFrame.

Supondo que é necessário representar a seguinte tabela, que registra o número de alunos aprovados e reprovados para cada disciplina de um curso de Engenharia:

|            | Aprovados | Reprovados |
|:----------:|:---------:|:----------:|
| Algoritmos |     65    |     35     |
|  Cálculo I |     45    |     55     |

Em Python, poderíamos fazer:

Para adicionar os títulos das colunas, podemos utilizar o parâmetro columns da função pd.DataFrame.

Adicionando os títulos das linhas

### A partir de um dicionário



É possível representar uma tabela a partir de um dicionário assumindo que cada uma de suas chaves é o nome de um atributo (coluna) e o valor dessa chave é um conjunto de valores (linhas) relacionadas àquele atributo.

## Inicializando uma Série

A Série é a estrutura de dados mais simples do Pandas. Ela pode ser entendida como uma lista. A união de diversas séries forma um DataFrame, com cada série assumindo o papel de uma coluna.

![image.png](https://www.datasciencemadesimple.com/wp-content/uploads/2020/05/create-series-in-python-pandas-0.png?ezimgfmt=ng:webp/ngcb1)

Imagem retirada de [datasciencemadesimple](https://www.datasciencemadesimple.com/create-series-in-python-pandas/).

### A partir de uma lista

### A partir de um array

# Importando dados de arquivos

O uso mais comum da biblioteca Pandas se dá através da leitura de arquivos que servem como base de dados. Um dos formatos mais comuns para armazenar dados em formato de tabela é o de Valores Separados por Vírgula (em inglês, **C**oma **S**eparated **V**alues - CSV). Embora o nome sugira o uso de vírgulas como delimitadores de valores, é possível utilizar outros caractéres (no Brasil é comum o uso de ponto e vírgula - " **;** ").

## Lendo um arquivo .csv

Para este exemplo, utilizaremos um extrato de um banco de dados de filmes do Netflix. Esse arquivo está disponível para download no [Kaggle](https://www.kaggle.com/shivamb/netflix-shows/download).

## Exibindo um DataFrame

Para exibir apenas os 5 últimos ou os 5 primeiros títulos, podemos utilizar os métodos head e tail

# Indexação, Seleção e Atribuição

Ao utilizar as ferramentas do Pandas para trabalhar com tabelas em formato de DataFrame, é simples selecionar/filtrar parcelas dessa tabela.

## Seleção de colunas pelo nome

Para selecionar colunas, pode-se utilizar a notação por colchetes habitual do Python.

Outra forma de selecionar colunas em um dataframe é acessando-os como se fossem atributos do DataFrame. Para que isso seja possível, o nome da coluna não pode incluir espaços ou caractéres especiais como acentos ou cedilhas. Sendo assim, podemos acessar a coluna de tipos utilizando a seguinte sintaxe:

É possível selecionar linhas individuais dentro da coluna

## Localização

É possível fazer a localização de elementos de um DataFrame pelo seu índice utilizando o iloc ou por labels utilizando o loc.

![img](https://miro.medium.com/max/2000/1*CgAWzayEQY8PQuMpRkSGfQ.png)

Imagem retirada do site [medium](https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79).

### Iloc

A indexação por iloc é puramente feita por índices numéricos, tanto nas linhas quanto nas colunas.

### Loc

A indexação por loc é feita por labels, tanto nas linhas quanto nas colunas.

## Seleção por Query

É possível selecionar linhas dentro de um DF utilizando o método query.

## Atribuição

# Exercícios

## 1) Selecione a coluna "country" do DataFrame e atribua a uma nova variável

## 2) Seleciona apenas o primeiro valor da coluna "country" do DataFrame e atribua a uma variável

## 3) Selecione a primeira linha do DataFrame e atribua a ua nova variável. Utilize tanto o loc quanto o iloc para realizar essa tarefa.

## 4) Selecione os 10 primeiros valores da coluna "country" do DF e atribua a uma nova variável

## 5) Selecione as linhas 1, 2, 3, 10 e 50 da coluna release_year e atribua a uma nova variavel

## 6) Crie um novo DF que contenha as colunas type, title, country e release_year apenas das linhas 1, 2 e 10

## 7) Crie um novo DF que contenha apenas as colunas title e country das 100 primeiras linhas

## 8) Crie um novo DF que contenha apenas as produções brasileiras

## 9) Crie um novo DF que contenha apenas os filmes brasileiros dos anos de 2019 e 2020